html, body{
  height:100%;
  background-color: rgb(226, 226, 226);
  overflow: hidden;
}

#root{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.mainContainer{
  width: 70%;
  height: 80%;
  overflow:auto;
  background-color: white;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  
}

.studentCardContainer{
  border-bottom: 1px rgb(214, 212, 212) solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  position: relative;
}


.expandButton{
  position: absolute;
  top:0.9rem;
  right:0.8rem;
  background: none;
	color: rgb(226, 218, 218);
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  font-stretch: expanded;
}
.buttonSign{
  color: transparent;
  text-shadow: 0 0 0 rgb(175, 175, 175);
}
.buttonSign:hover{
  color: transparent;
  text-shadow: 0 0 0 rgb(12, 12, 12);
}


.studentImg{
  border-radius: 50%;
  border: solid rgb(184, 169, 169) 1px;
  width: 8rem;
  height:8rem;
  margin:2rem;
}

.nameContainer{
  display:flex;
  flex-direction: column;
}

.firstName{
  font-size: 2rem;
  font-weight:bolder;
  margin: 10px 10px 5px 10px;
}

.detailContainer{
  margin: 5px 0px 0px 24px;
}

.detailContainer *{
  padding:2px;
  font-size: 1.2rem;
  color: black;
}

.searchInput{
  width:98%;
  align-self: center;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(216, 216, 216);
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0.5rem;;
}
input:focus{
  outline: none;
}


.expandDetail{
  margin: 0.9rem 0rem 0.4rem 1.5rem;
}
.gradeContainer{
  display:flex;
  flex-direction: row;
}
.grades{
  margin-left:2.5rem;
}

.tagsInputContainer{
  margin: 5px 0px 10px 25px;
}

.searchInputTag{
  width:60%;
  align-self: center;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(216, 216, 216);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0.5rem;;
}

.tagContainer{
  display:flex;
  flex-direction: row;
  margin-left: 0.2rem;
}

.tags{
  background-color: rgb(218, 218, 218);
  margin-left: 0.2rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 5px;
}