html, body{
  height:100%;
  background-color: rgb(226, 226, 226);
  overflow: hidden;
}

#root{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.mainContainer{
  width:80rem;
  height: 40rem;
  overflow:auto;
  background-color: white;
  border-radius:10px;
}

.studentCardContainer{

}

.studentImg{
  border-radius: 50%;
  border: solid rgb(184, 169, 169) 1px;
  width: 5rem;
}

